@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;


}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer components{
  .link{
    @apply cursor-pointer hover:underline 
  }
}


@layer base{
  body{
    background-color: #14161b;
    color: white;
  }
  
 
}


@layer utilities{
  
  .scrollbar-thin1::-webkit-scrollbar{
    background: none;
    width: 5px;
  }
  .scrollbar-thin2::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    width: 2px;
}

@layer components{
  .button{
    @apply p-2   rounded-sm bg-gradient-to-b from-yellow-200 to-yellow-500 
    border-yellow-500 text-gray-700 font-semibold focus:outline-none focus:ring-2 focus:ring-yellow-600
    active:bg-yellow-100 transition-all
  }
}

}

